@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
body {
    font-family: 'Silkscreen', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: #4E5021;
}

#usuarioInput {
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 18px;
    width: 250px;
    border: 1px solid #ccc;
    font-family: 'Silkscreen', sans-serif;

}

#botonInput {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #F298BF;
    color: #4E5021;
    border: none;
    border-radius: 3px;
    font-family: 'Silkscreen', sans-serif;

    
}

#contenedor {
    position: relative;
}
#principal {
    margin:auto;
    width: 50%;
    padding: 10px;
    background-color: #E2D6A4;
    border-radius: 10px;
    
}
#error{

    display: none;
    margin:40px auto;
    position: relative;
    font-size: x-large;
    
}
button:active {
    transform: scale(0.95);
}

.letter {
    border: 1px solid black;
    padding: 3px;
    margin: 3px;
    min-width: 20px;
    text-align: center;
    display: inline-block
}
#grilla{
    margin:40px auto;
    position: relative;
    top: 30%;
    left: 30%;    
}
.row {
    margin-bottom: 10px;
}

.input-area {
    margin: 30px;
}
#intentos {
    text-align: center;
    font-size: xx-large;
    font-weight: 800;
}